/* custom */
.firm {
    color: wheat;
    font-size: 1.5em;
    padding-right: 3em;
}

.scrollspy {
    overflow-y: scroll;
}

div.page-heading {
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.5);
    font-size: 4em;
    padding-right: 3em;
}

.page-text {
    padding-top: 40px;
    color: aliceblue;
    font-style: italic;
    font-size: 1.3em;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

img.linkedin {
    margin-left: 30px;
    height: 30px;
    width: 30px;
}
img.linkedin:hover {
    cursor: pointer;
}

.main-section {
    padding-top: 100px;
}

.max-height {
    height: 100vh;
}

.html-body {
    position: relative;
}

.portrait {
    border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.3em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
}

/* standard */
body {
    background: linear-gradient(-45deg, #364435, #3f5a3d, #364b33, #2d312c);
    animation: gradient 15s ease infinite;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

/* Navigation links */
.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover,
.active {
    color: #fff;
    border-bottom-color: #fff;
}
